:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-color: #2196f3;
  --main-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --nd-color: #757575;
  --rd-color: #ffffff;
  --fth-color: #212121;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1600px;
  padding: 0 15px;
  align-items: center;
  margin: 0 auto;
}

/* ====== HEADER ====== */

.header {
  width: 1600px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .navigation {
  display: flex;
  align-items: center;
}

.header .list {
  display: flex;
}

.navigation-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 93px;
  margin-left: 215px;
}

.navigation-logo-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .address {
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo-first-part {
  color: var(--main-color);
}

.logo-second-part {
  color: var(--fth-color);
}

.logo-second-part-two {
  color: var(--rd-color);
}

.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}

.header .address-mail {
  margin-left: 364px;
  margin-right: 50px;
}

.navigation-list-link,
.address-mail,
.address-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--fth-color);
}

.address-mail,
.address-phone-number {
  color: var(--nd-color);
}

.navigation-logo:hover,
.navigation-logo:focus,
.navigation-logo:active,
.navigation-list-link:hover,
.navigation-list-link:focus,
.navigation-list-link:active,
.address-map:hover,
.address-map:focus,
.address-map:active,
.address-mail:hover,
.address-mail:focus,
.address-mail:active,
.address-phone-number:hover,
.address-phone-number:focus,
.address-phone-number:active,
.list-menu:hover,
.list-menu:focus,
.list-menu:active {
  color: var(--main-color);
}

.modal-button:focus,
.modal-button:hover,
.modal-button:active {
  color: var(--fth-color);
  cursor: pointer;
}
/* ====== END HEADER ====== */

/* ====== MAIN ====== */

.hero .container {
  height: 600px;
}

.hero {
  width: 1600px;
  background-color: var(--main-background-color);
}

.section {
  width: 1600px;
  padding-top: 94px;
}

.modal-button {
  width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--rd-color);
  background-color: var(--main-color);
  margin-left: 700px;
  margin-top: 30px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--rd-color);
  padding-top: 200px;
}

.post-list {
  display: flex;
}

.title-h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fth-color);
}

.post-list {
  margin-left: 215px;
}

.text {
  display: flex;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--nd-color);
  width: 270px;
}

.img {
  display: flex;
  margin-left: 215px;
}

img:not(:last-child) {
  margin-right: 30px;
}

.czym-sie-zajmujemy {
  padding-bottom: 94px;
}

.nasz-zespol {
  background-color: var(--second-background-color);
}

.title-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fth-color);
  padding-bottom: 50px;
}

.name {
  padding-top: 30px;
  text-align: center;
}

.profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  color: var(--nd-color);
  text-align: center;
  margin-top: 10px;
}
/* ====== END MAIN ====== */

/* ====== FOOTER ====== */

.navigation-logo-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.address-map,
.address-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-left: 215px;
  padding-bottom: 9px;
}

.footer .address-phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-left: 215px;
}

.address {
  font-style: normal;
}

.address-map {
  color: var(--rd-color);
}

.footer .address-phone-number {
  padding-bottom: 60px;
}

.footer {
  width: 1600px;
  background-color: var(--main-background-color);
}

/* ====== END FOOTER ====== */

/* ====== PORTFOLIO ====== */

.button-filtr {
  /*width: 121px;*/
  height: 38px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--fth-color);
  border-radius: 4px;
  background-color: var(--second-background-color);
  padding-left: 22px;
  padding-right: 22px;
  margin-left: 8px;
  margin-bottom: 50px;
}

.button-filtr:focus,
.button-filtr:hover,
.button-filtr:active {
  background-color: var(--main-color);
  color: var(--rd-color);
  cursor: pointer;
}

.wszystkie {
  margin-left: 287px;
}

.list-menu {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 0.2;
  letter-spacing: 0.06em;
  color: var(--fth-color);
}
